openapi: 3.1.0
info:
  title: SoftQraft Realtime Media Gateway API
  version: 1.0.1
  description: |
    SoftQraft Labs Ltd. — application-agnostic HTTP control plane for self-hosted LiveKit + Egress.
    Any **backend** integrates here; media clients use LiveKit SDKs with minted tokens.
    Capability profiles gate interactive, creator-live, HLS broadcast, and recording features.

    **Default product path:** interactive WebRTC (`creator_live_webrtc` / `interactive`).
    **HLS / room-composite egress** is optional and on-demand — see ADR-010 (do not start HLS
    for every session on the economic plane).

    Typed client: `@softqraft/sdk` (Node/server only). Operator UI: `/admin/` (not part of this contract).
    Consumer end-user UI stays in the integrating app (not SoftQraft).
  contact:
    name: SoftQraft Labs
    url: https://media.softqraftlabs.com
servers:
  - url: https://media.softqraftlabs.com
    description: Economic production plane (public Gateway)
  - url: http://localhost:8080
    description: Local development
tags:
  - name: Health
  - name: Sessions
  - name: Tokens
  - name: Egress
    description: On-demand only (ADR-010). Prefer WebRTC for small/medium audiences.
  - name: Playback
paths:
  /health:
    get:
      tags: [Health]
      summary: Liveness probe
      operationId: getHealth
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /ready:
    get:
      tags: [Health]
      summary: Readiness probe
      operationId: getReady
      responses:
        "200":
          description: Dependencies reachable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
        "503":
          description: Not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/sessions:
    post:
      tags: [Sessions]
      summary: Create a live session
      operationId: createSession
      security:
        - ServiceBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSessionRequest"
      responses:
        "200":
          description: Existing session returned for the same idempotency key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "201":
          description: Session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          description: Tenant session quota exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflict (e.g. room isolation)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      tags: [Sessions]
      summary: List sessions
      operationId: listSessions
      security:
        - ServiceBearer: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ready, live, ending, ended]
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Session list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionList"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/sessions/{sessionId}:
    get:
      tags: [Sessions]
      summary: Get session
      operationId: getSession
      security:
        - ServiceBearer: []
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: Session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/sessions/{sessionId}/end:
    post:
      tags: [Sessions]
      summary: End session
      operationId: endSession
      security:
        - ServiceBearer: []
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: Session ended
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/sessions/{sessionId}/tokens:
    post:
      tags: [Tokens]
      summary: Mint participant token
      operationId: createToken
      security:
        - ServiceBearer: []
      parameters:
        - $ref: "#/components/parameters/SessionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTokenRequest"
      responses:
        "200":
          description: Token minted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/sessions/{sessionId}/egress:
    post:
      tags: [Egress]
      summary: Start egress for session
      operationId: startEgress
      security:
        - ServiceBearer: []
      parameters:
        - $ref: "#/components/parameters/SessionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartEgressRequest"
      responses:
        "202":
          description: Egress accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EgressJob"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    get:
      tags: [Egress]
      summary: List egress jobs for session
      operationId: listSessionEgress
      security:
        - ServiceBearer: []
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: Egress jobs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EgressJobList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/egress/{egressId}:
    get:
      tags: [Egress]
      summary: Get egress job
      operationId: getEgress
      security:
        - ServiceBearer: []
      parameters:
        - $ref: "#/components/parameters/EgressId"
      responses:
        "200":
          description: Egress job
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EgressJob"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/egress/{egressId}/stop:
    post:
      tags: [Egress]
      summary: Stop egress job
      operationId: stopEgress
      security:
        - ServiceBearer: []
      parameters:
        - $ref: "#/components/parameters/EgressId"
      responses:
        "200":
          description: Stop accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EgressJob"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/sessions/{sessionId}/playback:
    get:
      tags: [Playback]
      summary: Resolve playback endpoints
      operationId: getPlayback
      security:
        - ServiceBearer: []
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: Playback info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaybackResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
components:
  securitySchemes:
    ServiceBearer:
      type: http
      scheme: bearer
      description: |
        Tenant service API key from SoftQraft Admin (`sqk_{keyId}.{secret}`)
        or env bootstrap keys. Server-side only — never ship to browsers.
  parameters:
    SessionId:
      name: sessionId
      in: path
      required: true
      schema:
        type: string
    EgressId:
      name: egressId
      in: path
      required: true
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid service credentials
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    HealthResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ok]
    ReadyResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ready, not_ready]
        checks:
          type: object
          additionalProperties: true
          description: |
            Implementation may include gateway, livekit, redis, database,
            storeBackend, quotaBackend, s3Configured, etc.
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, requestId]
          properties:
            code:
              type: string
            message:
              type: string
            requestId:
              type: string
    CreateSessionRequest:
      type: object
      properties:
        idempotencyKey:
          type: string
          description: Client-supplied key for safe retries
        externalId:
          type: string
          description: Caller domain id (workspace, event, show, …)
        roomName:
          type: string
          description: Optional LiveKit room name; generated if omitted
        profile:
          type: string
          enum:
            - interactive
            - creator_live_webrtc
            - creator_live_hls
            - hybrid_live
            - recording_only
            - live_plus_recording
        metadata:
          type: object
          additionalProperties: true
        realtime:
          type: object
          properties:
            emptyTimeoutSeconds:
              type: integer
              minimum: 0
            maxParticipants:
              type: integer
              minimum: 1
        audience:
          type: object
          properties:
            mode:
              type: string
              enum: [hls, realtime, hybrid]
              default: realtime
            visibility:
              type: string
              enum: [public, private]
              default: public
        recording:
          type: object
          properties:
            file:
              type: object
              properties:
                enabled:
                  type: boolean
                keyTemplate:
                  type: string
    Session:
      type: object
      required: [sessionId, roomName, status, realtime, createdAt]
      properties:
        sessionId:
          type: string
        tenantId:
          type: string
          nullable: true
          description: Tenant from the API key when multi-tenant credentials are used
        externalId:
          type: string
          nullable: true
        roomName:
          type: string
        profile:
          type: string
        audienceMode:
          type: string
          enum: [hls, realtime, hybrid]
        status:
          type: string
          enum: [ready, live, ending, ended]
        realtime:
          type: object
          required: [url]
          properties:
            url:
              type: string
              format: uri
              description: LiveKit WebSocket URL (wss://…)
        playback:
          type: object
          properties:
            status:
              type: string
              enum: [pending, ready, unavailable]
            hlsUrl:
              type: string
              format: uri
              nullable: true
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
          nullable: true
    SessionList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Session"
    CreateTokenRequest:
      type: object
      required: [identity, role]
      properties:
        identity:
          type: string
        name:
          type: string
        role:
          type: string
          enum: [host, cohost, guest, realtime_viewer, agent]
        ttlSeconds:
          type: integer
          minimum: 60
          maximum: 86400
          default: 3600
        attributes:
          type: object
          additionalProperties:
            type: string
    IceServer:
      type: object
      required: [urls]
      properties:
        urls:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        username:
          type: string
        credential:
          type: string
    TokenResponse:
      type: object
      required: [token, identity, role, expiresAt, realtimeUrl, iceServers]
      properties:
        token:
          type: string
          description: LiveKit JWT for Room.connect
        identity:
          type: string
        role:
          type: string
        expiresAt:
          type: string
          format: date-time
        realtimeUrl:
          type: string
          format: uri
          description: Prefer this over env LIVEKIT_WS_URL when using SoftQraft
        iceServers:
          type: array
          items:
            $ref: "#/components/schemas/IceServer"
          description: TURN/STUN servers from Gateway config (may be empty)
    StartEgressRequest:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum:
            - room_composite_file
            - room_composite_hls
            - room_composite_rtmp
            - track
            - participant
          description: |
            On-demand only (ADR-010). Supported on economic plane with capacity caps:
            room_composite_file (VOD), room_composite_hls (passive scale).
            Do not start HLS for every interactive session.
        options:
          type: object
          properties:
            fileType:
              type: string
            filepath:
              type: string
            keyTemplate:
              type: string
            layout:
              type: string
            segmentDurationSeconds:
              type: integer
              minimum: 1
              maximum: 10
            playlistName:
              type: string
            livePlaylistName:
              type: string
          additionalProperties: true
    EgressJob:
      type: object
      required: [egressId, sessionId, type, status]
      properties:
        egressId:
          type: string
        sessionId:
          type: string
        type:
          type: string
        status:
          type: string
          enum: [starting, active, stopping, complete, failed]
        playback:
          type: object
          properties:
            hlsUrl:
              type: string
              format: uri
              nullable: true
        error:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    EgressJobList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/EgressJob"
    PlaybackResponse:
      type: object
      required: [sessionId, audienceMode, status]
      properties:
        sessionId:
          type: string
        audienceMode:
          type: string
          enum: [hls, realtime, hybrid]
        status:
          type: string
          enum: [pending, ready, unavailable, ended]
        hlsUrl:
          type: string
          format: uri
          nullable: true
        realtimeUrl:
          type: string
          format: uri
          nullable: true
